PONDER_RPC_URL_46630=https://rpc.testnet.chain.robinhood.com
PONDER_CHAIN_ID=46630
PONDER_RPC_URL=https://rpc.testnet.chain.robinhood.com
PONDER_REGISTRY_ADDRESS=0x0B68fD82965Fd853907CA4E2f7E6E6d478Aaef8b
PONDER_FEE_VAULT_ADDRESS=0x82D9159cB488175cAcdcD145A7285d80563e69d0
PONDER_START_BLOCK=111163164
DATABASE_URL=postgresql://xbid:xbid@127.0.0.1:55432/xbid?sslmode=disable
DATABASE_SCHEMA=chain_projection
